body {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #171734;
  color: #f0f0ff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-attachment: fixed;
}
#logo {
  font-weight: 600;
  font-size: 1.4rem;
  color: #f0f0ff;
}
#about-text {
  color: #f0f0ff;
  font-size: 1.2rem;
  font-weight: 300;
}
#about-main {
  color: #434285;
}
li,
a {
  text-decoration: none;
  color: #1687a7;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  /* padding: 0 20px; */
}
.nav__links li a {
  transition: all 0.2 ease 0s;
}
.nav__links li a:hover {
  color: #a9d3df;
}
p {
  font-size: 1.2em;
  font-weight: 500;
  color: #f6f5f5;
  background-color: #242448;
  padding: 0 20px 10px 20px;
  border-radius: 10px;
}

.main-container {
  height: auto;
  margin-left: 15%;
  margin-right: 15%;
  font-weight: 600;
  color: #03506f;
}
.calculator {
  display: flex;
}
.left {
  float: left;
  width: 50%;
  padding: 40px 50px;
  /* background-color: #242448; */
  background-color: #242448;
}
.right {
  float: left;
  width: 50%;
  /* background-color: #434285; */
  background-color: #434285;
  padding: 40px 50px;
}
@media screen and (max-width: 800px) {
  .left,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
input[type="text"] {
  min-width: 100px;
  padding: 15px 20px;
  margin: 10px 0 20px 0px;
  font-size: 1.2rem;
  /* background-color: #f6f5f5; */
}
.form-label {
  font-size: 1.2em;
  font-weight: 500;
  color: #f6f5f5;
}
button {
  background-color: #2561ef;
  border-radius: 5px;
  padding: 15px 30px;
  color: #ffffff;
  font-size: 1.2rem;
  border-style: none;
  margin-top: 20px;
}
button:hover {
  background-color: #3e41e7;
}
.side-label {
  margin-left: 10px;
  color: #d1d1d3;
}
.results {
  margin: 15px;
  font-size: 2rem;
  color: #2dc3ce;
  /* position: absolute; */
}
.results-sub-text {
  color: #9e9dd3;
}
#note {
  /* margin-top: 20px; */
  color: #d1d1d3;
  font-weight: 400;
}
footer {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #434285;
  font-size: 0.8rem;
}
